body {
    background-color: dimgray;
}

#entrySection {
    background-color: darkgray;
}

.button {
    background-color: dimgray;
    color: white;
}

.header-cont {
    background-color: darkgray;
}

.popupContent {
    color: white;
    font-weight: 100;
}

#popupInfo {
    background-color: dimgray;
}

#lightStyle {
    display: inline;
}

#darkStyle{
    display: none;
}