body {
    background-color: white;
}

.button {
    background-color: darkgray;
    color: black;
}

.header-cont {
    background-color: white;
}

#popupInfo {
    background-color: white;
}

#darkStyle{
    display: inline;
}

#lightStyle{
    display: none;
}