@font-face {
    font-family: montserrat;
    src: url(Montserrat-Regular.ttf);
}

body {
    font-family: montserrat, sans-serif;
}

table {
    position: relative;
    top: -25px;
    border-collapse: collapse;
    width: 484px;
}

.header-cont {
    width:100%;
    position:fixed;
    top: 0px;
    height: 60px;
    z-index: 1;
}

.header {
    height: 50px;
    min-width: 720px;
    margin: 0px auto;
    position: relative;
    left: -8px
}

.button {
    font-family: montserrat, sans-serif;
    font-size: 15px;
    border: none;
    border-radius: 3px;
    padding: 10px;
    float: left;

}

.contact {
    position: relative;
    top: 10px;
    left: 20px;
}

#hdlogo {
    height: 38px;
    float: left;
    position: relative;
    top: 10px;
    left: 10px;
}

.delete {
    width: 125px;
    position: relative;
    left: 21px;
}

.entryField {
    font-family: montserrat, sans-serif;
    font-size: 15px;
    border-radius: 3px;
    padding: 10px;
}

.salesEntry {
    width: 85px;
}

.npsEntry {
    width: 50px;
    position: relative;
    top: 1px;
}

#entrySection {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 484px;
}

.contactNum {
    padding-left: 10px;
    width: 40px;
}

#sales {
    width: 135px;
}

#nps {
    width: 100px;
}

#rpc {
    width: 125px;
}

#takerate {
    width: 100px;
}

#salesHead {
    width: 135px;
}

#npsHead {
    width: 100px;
}

#rpcHead {
    width: 125px;
}

#takerateHead {
    width: 110px;
}

#totalHeaders {
    position: relative;
    top: -10px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 484px;
}

#totals {
    position: relative;
    top: -50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 484px;
}

#saleTableHead {
    position: relative;
    left: 86px;
    width: 135px;
    display: inline-block;
    z-index: 0;
}

#npsTableHead {
    width: 70px;
    position: relative;
    left: 92px;
    display: inline-block;
    z-index: 0;
}

h3 {
    display: inline-block;
}

#darkStyle{
    height: 33px;
    border-radius: 3px;
    background-color: darkgray;
    padding: 3px;
}

#lightStyle {
    height: 33px;
    border-radius: 3px;
    background-color: dimgray;
    padding: 3px;
}

#rightIcons {
    float: right;
    position: relative;
    left: -10px;
    top: 10px;
}

.info {
    width: 39px;    
    position: relative;
    left: -10px;
}


.container-popup {
    position: relative;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,.8);
    z-index: -1;
}
.popup {
    width: 50%;
    height: 50%;
    background: #1abcb9;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    border-radius: 5px;
    margin: auto;
    z-index: 1;
}

#popupInfo {
    width: 300px;
    height: 300px;
    border-radius: 5px;
}

.popupContent {
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 250px;
    text-align: center;
}